//NotoSansCJKkr
$sCoreDrem: 100,
200,
300,
400,
500,
600,
700,
800,
900;
@each $fontBold in $sCoreDrem {
    @font-face {
        font-family: "notosans";
        src: url("../fonts/scdream#{$fontBold}.otf") format("otf");
        font-weight: #{$fontBold};
        font-style: normal;
    }
}