@charset 'utf-8';
@import "reset",
"mixins",
"fonts";
body {
    height: 100vh;
}

// button
.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 7px 9px;
}

.wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: $w;
    height: auto;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    padding: 11px 0 10px;
    background-color: #f8f8f8;
    @include shadow(inset rem(2) rem(-6) rem(25) 0, rgba(0, 0, 0, 0.18));
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: $w;
        max-width: 1600px;
        margin: 0 auto;
        .logo-title {
            font: {
                size: rem(24);
                weight: 600;
            }
            line-height: rem(30);
            letter-spacing: -0.8px;
            margin-left: rem(8);
        }
    }
}

.container-wrapper {
    width: $w;
    margin: 0 auto;
    max-width: 1720px;
    padding: 0 60px;
    .wide {
        max-width: none;
    }
}

.footer-wrapper {
    width: $w;
    padding: 16px 0;
    text-align: center;
    background-color: color(#404040);
    .copyright {
        font-size: 12px;
        line-height: 18px;
        color: color(#fff);
    }
}

.main {
    .container-wrapper {
        padding: {
            top: rem(255);
            bottom: rem(320);
        }
    }
}

.box-wrapper {
    display: flex;
    flex: {
        direction: column;
        wrap: wrap;
    }
}

.box-wrapper {
    .box {
        position: relative;
        display: flex;
        flex {
            direction: row;
            wrap: nowrap;
        }
        justify-content: space-between;
        align-items: center;
        .info-box {
            width: calc(100% / 2);
            padding-left: 140px;
            .thumbnail {
                color: color(#727272);
                font-size: 12px;
                >div {
                    line-height: 24px;
                }
                .web {
                    &::before {
                        content: "WEB UI";
                        display: inline-block;
                    }
                }
                .mo {
                    &::before {
                        content: "MOBILE UI";
                        display: inline-block;
                    }
                }
            }
            .title {
                margin-bottom: 25px;
                font: {
                    size: 30px;
                    weight: 600;
                }
                line-height: 32px;
                color: color(#000);
            }
            .data,
            .work {
                font-size: 16px;
                line-height: 24px;
                color: color(#727272);
            }
            .btn {
                &.view {
                    height: 52px;
                    min-width: 189px;
                    margin-top: 25px;
                    text-align: center;
                    color: color(#fff);
                    background-color: color(#000);
                    >span {
                        display: inline-block;
                        height: auto;
                        padding: 12px 8px;
                        vertical-align: middle;
                        font-size: 11px;
                        letter-spacing: 2px;
                        line-height: 14px;
                    }
                }
            }
        }
        .site-box {
            position: relative;
            width: calc(100% / 2);
            height: auto;
            .pic {
                >img {
                    height: auto;
                    width: $w;
                }
            }
        }
        .mobile-box {
            position: absolute;
            left: calc(50% - 103px);
            width: rem(206);
            height: rem(410);
            padding: rem(39) rem(8);
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.04);
            border-radius: rem(23);
            z-index: 1;
            @include shadow(19px 13px 26px 0px, rgba(0, 0, 0, 0.25));
            &::before {
                content: "";
                position: absolute;
                top: 21px;
                left: calc(50% - 20px);
                display: inline-block;
                width: rem(40);
                height: rem(5);
                background-color: rgba(64, 64, 64, 0.87);
                border-radius: 10px;
            }
            >img {
                width: rem(190);
                height: rem(330);
            }
        }
        &+.box {
            margin-top: 320px;
        }
        &.left {
            .info-box {
                order: 0;
                padding: {
                    left: 140px;
                    right: 130px;
                }
            }
            .site-box {
                order: 1;
                .pic {
                    @include shadow();
                }
            }
        }
        &.right {
            .info-box {
                order: 1;
                padding: {
                    left: 295px;
                    right: 70px;
                }
            }
            .site-box {
                order: 0;
                .pic {
                    @include shadow(-18px 18px 40px 0px, rgba(0, 0, 0, 0.25));
                }
            }
        }
    }
}